{% extends 'layout.html' %}

{% block header %}
  <h1>{% block title %}Edit Post in {{ post['community_name'] }} {% endblock %}</h1>
{% endblock %}

{% block main %}
  <form method="post">
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('views.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}